.login-popup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Nền mờ */
    display: grid;
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    max-width: 90%; /* Đảm bảo không vượt quá 90% chiều rộng màn hình */
    min-width: 300px; /* Đảm bảo kích thước tối thiểu */
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-popup-title img{
    width: 16px;
    cursor: pointer;
}

.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input{
    outline: none;
    padding: 10px 15px;
    border: 1px solid #808080;
    border-radius: 5px;
    font-size: 14px;
}

.login-popup-container button{
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #66ff66;
    color: ghostwhite;
}

.login-popup-condition{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 5px;
    margin-top: -15px;
}

.login-popup-condition input{
    margin-top: 5px;
}

.login-popup p span{
    font-weight: 700;
    color: #66ff66;
    cursor: pointer;
}